@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400&family=Crimson+Pro&family=Elsie&family=Rubik:wght@300;400;500&display=swap');
@import 'bootstrap/dist/css/bootstrap.min.css';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --main-clr: #e9c46a;
    --secondar-clr: #f4a261;
}
body{
    font-weight: 300;
    font-size: 1.05rem;
    line-height: 1.6;
    font-family: 'Rubik', sans-serif;
}

/* */
.text{
    opacity: 0.8;
}
.title{
    font-size: 2rem;
    margin-bottom: 1rem;
}

/* */
.container{
    min-height: 100vh;
}
.meal-wrapper{
    max-width :1280px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #fff;
    text-align: center;
}
.meal-search{
    margin: 2rem 0;
}
.meal-search cite{
    font-size: 1rem;
}
.meal-search-box{
    margin: 1.2rem 0;
    display: flex;
    align-items: stretch;
}
.search-control,
.search-btn{
    width: 100%;
}
.search-control{
    padding: 0 1rem;
    font-size: 1.1rem;
    font-family: inherit;
    outline: 0;
    border: 1px solid var(--main-clr);
    color: var(--main-clr);
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}
.search-control::placeholder{
    color: var(--main-clr);
}
.search-btn{
    width: 55px;
    height: 55px;
    font-size: 1.8rem;
    background-color: var(--main-clr);
    color: #fff;
    border: none;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    transition: all 04.s linear;
    -webkit-transition: all 04.s linear;
    -moz-transition: all 04.s linear;
    -ms-transition: all 04.s linear;
    -o-transition: all 04.s linear;
}
.search-btn:hover{
    background: var(--secondar-clr);
}
.meal-result{
    margin-top: 4rem;
}
/* Media Queries */
@media screen and (min-width: 600px){
    .meal-search-box{
        width: 540px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 768px){
    #meal{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    .meal-item{
        margin: 0;
    }
    .meal-details{
        width: 700px;
    }
}

@media screen and (min-width: 992px){
    #meal{
        grid-template-columns: repeat(3, 1fr);
    }
}